.material-symbols-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-container {
  width: 450px;
  margin: 0 auto;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 50px;
}

.current {
  background: rgb(60, 106, 255);
  background: linear-gradient(
    45deg, 
    rgb (30, 107, 221) 0%, 
    rgb(3, 116, 255) 42%, 
    rgb(3, 191, 255) 100%
  );
  border-radius: 40px;
  padding: 40px;
}

.weather-container .current .city {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 10px;
}

.weather-container .current .day {
  text-align: center;
}

.weather-container .current .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-container .current .row .icon iframe {
  width: 128px;
  user-select: none;
  cursor: none;
}

.weather-container .current .row .temperature {
  font-size: 48px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.weather-container .current .row .temperature .temp-now {
  font-size: 80px;
  margin: 0;
}

.weather-container .current .row .temperature .temp-low {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
}

.weather-container .current .row .status {
  text-align: center;
  color: rgba(255, 255, 255, 0.692);
}

.weather-container .current .more {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

.weather-container .current .item .icon span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 28px;
}

.weather-container .current .item .type {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  margin-top: 5px;
}

.weather-container .list {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}

.weather-container .list .day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-container  .list .day .name {
  width: 34px;
  text-align: left;
}

.weather-container .list .day .weather {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.weather-container .list .day .weather .status {
  color: rgba(255, 255, 255, 0.5);
}

.weather-container .list .day .temperature {
  text-align: right;
  display: flex;
  gap: 10px;
}

.weather-container .list .day .temperature .temp-high {
  color: white;
}

.weather-container .list .day .temperature .temp-low {
  color: rgba(255, 255, 255, 0.5);
}

hr {
  width: 100%;
  opacity: 0.1;
}